.container {
  display: flex;
  padding: 15px;
  height: 300px;
}
.container > div {
  flex: 1; /*grow*/
}

.channel {
  background-color: #ddd;
  padding: 10px;
}

.messages {
  background-color: #bbb;
  padding: 10px;
}

.form {
  background-color: #ddd;
  padding: 10px;
}
