.container {
  display: flex;
  padding: 15px;
  height: 300px;
}
.container > div {
  flex: 1; /*grow*/
}

.channel {
  background-color:#DDD;
  padding:10px;
}

.messages{
  background-color:#BBB;
  padding:10px;
}

.form{
  background-color:#DDD;
  padding:20px;
}